{
    box-sizing: border-box;
}

html,
body {
    font-family: 'roboto', sans-serif
}

/*
.custom-div-1 p {
    color: #ff0000;
}

.custom-div-1 > p {
    color: #ffff00;
}

.custom-div-1 + p {
    color: green;
}


.custom-div-1 ~ p {
    color: #0000ff;
}

.custom-div-1 p: :nth-child() {
    color:#43454
}*/

.custom-div-1::before {
    content: "";
}